*,
*::before,
*::after {
	all: unset;
	display: revert;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

/* Headings and paragraphs:
   Sizes and margins are scaled by major thirds (1.25). */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	margin-block: 0.64em;
	font-size: 3.052em;
}

h2 {
	margin-block: 0.8em;
	font-size: 2.441em;
}

h3 {
	margin-block: 1em;
	font-size: 1.953em;
}

h4 {
	margin-block: 1.25em;
	font-size: 1.563em;
}

h5 {
	margin-block: 1.563em;
	font-size: 1.25em;
}

h6 {
	margin-block: 1.953em;
	font-size: 1em;
}

p {
	margin-block: 1em;
}
